%section#footer
  .container
    .row.text-center.text-xs-center
      %h4 Follow us on social media.
      .col-xs-12.col-sm-12.col-md-12.mt-2.mt-sm-5
        %ul.list-unstyled.list-inline.social.text-center
          %li.list-inline-item
            %a{:href => "javascript:void();"}
              %i.fa.fa-facebook
          %li.list-inline-item
            %a{:href => "javascript:void();"}
              %i.fa.fa-twitter
          %li.list-inline-item
            %a{:href => "javascript:void();"}
              %i.fa.fa-instagram
          %li.list-inline-item
            %a{:href => "javascript:void();"}
              %i.fa.fa-google-plus
          %li.list-inline-item
            %a{:href => "javascript:void();", :target => "_blank"}
              %i.fa.fa-envelope
